/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Global settings START-------------------------------------------------------*/

body{
    background-color:#fff;
}

body, button, input, select, textarea {
    color: #404040;
    font-family: Merriweather,serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

p {
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: Novecento Sans Web,sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a {
    color: #248a83;
    text-decoration: none;
    background-color: transparent;
}

/* PRIMARY Menu START---------------------------------------------------------------------------------*/

.site-header {
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    z-index:3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.main-navigation{
    max-width:1120px;
    justify-self: end;
    position:fixed; 
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase;
    margin-left:12%;
}

.menu{
    width:100%;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
}

.header-search {
    line-height: 1;
    padding-left: 1.5rem;
}

.header-search fieldset {
    padding: 0;
    border: 0;
    margin:0;
}

.search-submit{
    background-color:transparent;
    border: none;
    box-shadow: none;
    outline:none;
    order:-1;
    color:white;
}

::placeholder{
    color:#f0e4d1;
}

/* Inside menu START-------------------------------------------------------------------------*/
 #primary-menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    color: white;   
    margin: 1em;
}

#primary-menu a:link{
    color: white;
}

#primary-menu a:visited{
    color: white;
}

#primary-menu a:hover{
    color: #f0e4d1;
}

#menu-item-105 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 3;
    color: white;   
    text-align:center;
}

#menu-item-106  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end:3;
    color: white; 
    text-align:center;
}

#menu-item-107  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end:5;
    color: white; 
    text-align:center;
}

#menu-item-108  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end:4;
    color: white; 
    text-align:center;
}
#menu-item-109  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end:6;
    color: white; 
    text-align:center;
}

.site header .site-title{
	background-image:  url("../../images/logos/inhabitent-logo-tent-white.svg");
    background-repeat: no-repeat;
    background-size:contain;
    min-width:50px;
    min-height:33px;
    margin-left:12%;
    position: fixed;
    text-indent: 9999px;
}

/* Inside menu end-------------------------------------------------------------------------*/
/* Primary Menu end---------------------------------------------------------------------------*/

/* Footer start------------------------------------------------------------------------------*/
.site-footer{
    display:grid;
    grid-template-columns: .5fr 1.5fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    max-height:354.7px;
    
}

.contact-us{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
}

.contact-us h3{
    color: #d99054
}

.business-hours{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
}

.business-hours h3{
    color: #d99054
}

.site-info{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
    justify-self: center;
    color: white;
}

.footer-logo{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: center;
    margin-top:25px;
    z-index:4;
    max-width: 280px;
    max-height: 50px;
}

.days-of-week{
    font-weight: bold;
}

/* Footer end*/

/* Global settings END-------------------------------------------------------*/

/* FRONT PAGE START-------------------------------------------------------*/

/* Setting hero image*/
.home-hero{
	background-image:  url("../../images/logos/inhabitent-logo-full.svg"), url("../../images/home-hero.jpg");
    background-repeat: no-repeat;
    background-size: 20%, cover;
    background-position: 50%, 0;
    min-height:100vh;
    margin-bottom:4.5rem;
}

/* SHOP STUFF START------------------------------------------------------------------*/
.product-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ; 
    grid-template-rows: 1fr 3fr ; 
    margin-bottom:4.5rem;
    grid-column-gap:2%;
    max-width:1120px;
    max-height:379.5px;
    margin:auto;
    margin-bottom:4.5rem;
}

.product-container h1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:  2;
    margin-bottom:3.75rem;
    text-align:center;
    font-size: 2.4rem;
    font-weight: 400;
   
}

.product-type-do{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
    text-align:center;
}

.product-type-eat{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
    text-align:center;
}
.product-type-sleep{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
    text-align:center;
}
.product-type-wear{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
    text-align:center;
}

.product-type-image{
    height:70px;
    width:70px;
    margin:auto;
}

.product-type-desc{
    margin-bottom:1.5rem;
    margin-top:1.5rem;
}

.product-type-title{
    text-transform: uppercase;
    margin-bottom:.75rem;
}

.product-type-title a:visited{
    color: white;
}

.product-type-title a:hover{
    color: white;
}

.product-type-title .title{
    background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* SHOP STUFF END-----------------------------------------------------------*/
/* Inhaitent Journal START----------------------------------------------------*/

.journal-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ; 
    grid-template-rows: 1fr 3fr ; 
    margin-bottom:4.5rem;
    grid-column-gap:2%;
    max-width:1120px;
    margin:auto;
    margin-bottom:4.5rem;
    max-height:522.5px;
}

.journal-container h1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:  2;
    margin-bottom:3.75rem;
    text-align:center;
}

.journal-entry:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  3;
    
}

.journal-entry:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:  3;
    
    
}

.journal-entry:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    
}

.journal-image img{
    height:250px;
    width:356.4px;
}
.journal-image{
    height:250px;
    width:356.4px;
}

.journal-info-wrapper{
    padding:.75rem;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
}

.journal-date-comments{
    font-size:.75rem;
}

.journal-title{
    font-size: 20.8px;
    text-transform: uppercase;
    color:#248a83;
    text-decoration: none;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    margin-bottom:20px;
}

.journal-title a:visited{
    color: #248a83;
}

.journal-title a:hover{
    color: black;
}

.journal-read-entry{
    margin-top:20px;
    margin-bottom:20px;
}

.journal-read-entry a{
    border: 1px solid #000;
    color: #000;
    font-size:20px;
    padding:10px 20px;
}

/* Inhaitent Journal END----------------------------------------------------*/
/* LATEST ADVENTURES START----------------------------------------------------*/

.adventures-container{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr; 
    grid-template-rows: 1fr 2fr 2fr 1fr; 
    margin-bottom:4.5rem;
    grid-column-gap:2%;
    max-width:1120px;
    margin:auto;
}

.adventures-container h1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:  2;
    margin-bottom:3.75rem;
    text-align:center;
}

.adventure-entry{
    position: relative;
}

.adventure-entry:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  4;
    min-height:550px;
    min-width:550px;
    max-height:550px;
    max-width:550px;
    position: relative;
}
.adventure-entry:nth-child(5) .adventure-image img{
    min-height:550px;
    min-width:550px;
    max-height:550px;
    max-width:550px;
}

.adventure-entry:nth-child(5) .adventure-image{
    min-height:550px;
    min-width:550px;
    max-height:550px;
    max-width:550px;
}

.adventure-entry:nth-child(5) .adventure-title a{
    font-size:3rem;
    color:white;
}


.adventure-entry:nth-child(4){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    min-height:265px;
    min-width:550px;
    max-height:265px;
    max-width:550px;
    position: relative;
}

.adventure-entry:nth-child(4) .adventure-title a{
    font-size:2.4rem;
}

.adventure-entry:nth-child(4) .adventure-image img{
    min-height:265px;
    min-width:550px;
    max-height:265px;
    max-width:550px;
}

.adventure-entry:nth-child(4) .adventure-image{
    min-height:265px;
    min-width:550px;
    max-height:265px;
    max-width:550px;
}

.adventure-entry:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:  4;
    min-height:265px;
    min-width:265px;
    max-height:265px;
    max-width:265px;
    position: relative;
}

.adventure-entry:nth-child(3) .adventure-image img{
    min-height:265px;
    min-width:265px;
    max-height:265px;
    max-width:265px;
    bottom:0;
}

.adventure-entry:nth-child(3) .adventure-image{
    min-height:265px;
    min-width:265px;
    max-height:265px;
    max-width:265px;
    bottom:0;
}

.adventure-entry:nth-child(3) .adventure-title a{
    font-size:1.6rem;
}


.adventure-entry:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:  4;
    min-height:265px;
    min-width:265px;
    max-height:265px;
    max-width:265px;
    position: relative;
}

.adventure-entry:nth-child(2) .adventure-image img{
    min-height:265px;
    min-width:265px;
    max-height:265px;
    max-width:265px;
    bottom:0;
}

.adventure-entry:nth-child(2) .adventure-image{
    min-height:265px;
    min-width:265px;
    max-height:265px;
    max-width:265px;
    bottom:0;
}

.adventure-entry:nth-child(2) .adventure-title a{
    font-size:1.6rem;
    color:white;
}

.adventures-container .button{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end:  5;
    border: 1px solid #e1e1e1;
    padding: .75rem;
    color:white
}

.adventure-image{
    position:absolute;
    z-index:1
}

.adventure-info{
    position:absolute;
    z-index: 999;
    top: 20px;
    left:20px;
}




/* Front page END---------------------------------------------------------------------------------*/
/* 404 START -------------------------------------------------------------------------------------*/
page-title h1{
    font-size:2.4rem;
    font-weight:bold;
}

.widgettitle{
    font-size:1.5rem;
    background-color: red;
}
/* 404 END -------------------------------------------------------------------------------------*/
/* About START -------------------------------------------------------------------------------------*/
/* All content on About page */

.page-template-about {
    margin-top:-23px;
}

.page-template-about .entry-header{
    min-height:800px;

}

.page-template-about .entry-title{
    text-align: center;
    line-height:800px;
    color:white;
    font-size:3em;
    text-transform: uppercase;
    margin: 0px;
}

.page-template-about .entry-content{
    max-width: 800px;
    margin: 3rem auto;
}

.page-template-about .entry-content h2 {
    text-align: center;
    line-height:1.25;
}
/* About END -------------------------------------------------------------------------------------*/
/* Products START --------------------------------------------------------------------------------*/

.post-type-archive-products .site-content{
    padding-top:3rem;
    padding-bottom:3rem;
}


.post-type-archive-products .content-area .page-header{
    margin-bottom:3rem;
}


.post-type-archive-products .content-area .page-header h1{
    text-align:center;
}

.product-types{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    text-transform: uppercase;
    border-bottom: 2px dotted grey;
    margin-bottom:2rem;
}

.product-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    max-width:1120px;
    margin:auto;
}

.thumbnail-wrapper a img{
    height:250px;
    width:auto;
}

.product-info{
    font-size:.9rem;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
}
/* Products FILTERED START --------------------------------------------------------------------------*/

.tax-product_type .site-content{
    padding-top:3rem;
    padding-bottom:3rem;
}

.tax-product_type .site-content .page-header {
    max-width:1120px;
    border-bottom: 2px dotted grey;
    margin-bottom:2rem;
    margin:auto;
}


.tax-product_type .site-content .page-header h1{
    margin-bottom:3rem;
    text-align:center;
    text-transform: uppercase;
    
}

.taxonomy-description{
text-align: center;
}

.product-type-filtered{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    max-width:1120px;
    margin:auto;
    margin-top:3rem;
}
/* Products FILTERED END --------------------------------------------------------------------------*/
/* JOURNAL START --------------------------------------------------------------------------*/

.journal-entry-header{
    position: relative;
}

.journal-entry-header img{
    height: auto;
    max-width: 100%;
    position:relative;
}

.journal-entry-title{
    background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
    top: 0;
}

.journal-entry-meta{
    background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.00005rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}