/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Global settings START-------------------------------------------------------*/

body{
    background-color:#fff;
}

body, button, input, select, textarea {
    color: #404040;
    font-family: Merriweather,serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

p {
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: Novecento Sans Web,sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* PRIMARY Menu START---------------------------------------------------------------------------------*/

.site-header {
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    z-index:3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.main-navigation{
    width:100%;
    justify-self: end;
    position:fixed; 
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.menu{
    width:100%;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
}

.header-search {
    line-height: 1;
    padding-left: 1.5rem;
    margin-right:3rem;
}

.header-search fieldset {
    padding: 0;
    border: 0;
    margin:0;
}

.search-submit{
    background-color:transparent;
    border: none;
    box-shadow: none;
    outline:none;
    order:-1;
}

::placeholder{
    color:#f0e4d1;
}

/* Inside menu START-------------------------------------------------------------------------*/
 #primary-menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    color: white;   
    margin: 1em;
}

#menu-item-105 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 3;
    color: white;   
}

#menu-item-106  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end:3;
    color: white; 
}

#menu-item-107  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end:4;
    color: white; 
}

#menu-item-108  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end:5;
    color: white; 
}
#menu-item-109  {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end:6;
    color: white; 
}

.site header .site-title{
	background-image:  url("../../images/logos/inhabitent-logo-tent-white.svg");
    background-repeat: no-repeat;
    background-size:contain;
    min-width:50px;
    min-height:33px;
    margin-left:12%;
    position: fixed;
    text-indent:9999px;
    
}
/* Inside menu end-------------------------------------------------------------------------*/
/* Primary Menu end---------------------------------------------------------------------------*/

/* Footer start------------------------------------------------------------------------------*/
.site-footer{
    display:grid;
    grid-template-columns: .5fr 1.5fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    max-height:354.7px;
    
}

.contact-us{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
}

.contact-us h3{
    color: #d99054
}

.business-hours{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
}

.business-hours h3{
    color: #d99054
}

.site-info{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
    justify-self: center;
    color: white;
}

.footer-logo{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: center;
    margin-top:25px;
    z-index:4;
    max-width: 280px;
    max-height: 50px;
}

.days-of-week{
    font-weight: bold;
}

/* Footer end*/

/* Global settings END-------------------------------------------------------*/

/* FRONT PAGE START-------------------------------------------------------*/

/* Setting hero image*/
.home-hero{
	background-image:  url("../../images/logos/inhabitent-logo-full.svg"), url("../../images/home-hero.jpg");
    background-repeat: no-repeat;
    background-size: 20%, cover;
    background-position: 50%, 0;
    min-height:100vh;
    margin-bottom:4.5rem;
}

/* SHOP STUFF START------------------------------------------------------------------*/
.product-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ; 
    grid-template-rows: 1fr 3fr ; 
    margin-bottom:4.5rem;
    grid-column-gap:2%;
    max-width:1120px;
    max-height:379.5px;
    margin:auto;
    margin-bottom:4.5rem;
}

.product-container h1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:  2;
    margin-bottom:3.75rem;
    text-align:center;
   
}

.product-type-do{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
    
}

.product-type-eat{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
}
.product-type-sleep{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
}
.product-type-wear{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:272px;
}

.product-type-image{
    height:70px;
    width:70px;
}
/* SHOP STUFF END-----------------------------------------------------------*/
/* Inhaitent Journal START----------------------------------------------------*/

.journal-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ; 
    grid-template-rows: 1fr 3fr ; 
    margin-bottom:4.5rem;
    grid-column-gap:2%;
    max-width:1120px;
    margin:auto;
    margin-bottom:4.5rem;
    max-height:522.5px;
}

.journal-container h1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:  2;
    margin-bottom:3.75rem;
    text-align:center;
}

.journal-entry:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
}

.journal-entry:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
    
}

.journal-entry:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
    
}
/* Inhaitent Journal END----------------------------------------------------*/
/* LATEST ADVENTURES START----------------------------------------------------*/

.adventures-container{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr; 
    grid-template-rows: 1fr 2fr 2fr 1fr; 
    margin-bottom:4.5rem;
    grid-column-gap:2%;
    max-width:1120px;
    margin:auto;
}

.adventures-container h1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:  2;
    margin-bottom:3.75rem;
    text-align:center;
}

.adventure-entry:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  4;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:550px;
}

.adventure-entry:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
    
}

.adventure-entry:nth-child(4){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:  4;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
}
.adventure-entry:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:  4;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
}

.adventures-container .button{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end:  5;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: .75rem;
    max-height:415px;
}

/* Front page END---------------------------------------------------------------------------------*/
/* 404 START -------------------------------------------------------------------------------------*/
page-title h1{
    font-size:2.4rem;
    font-weight:bold;
}

.widgettitle{
    font-size:1.5rem;
    background-color: red;
}
/* 404 END -------------------------------------------------------------------------------------*/
/* About START -------------------------------------------------------------------------------------*/
/* All content on About page */

.page-template-about {
    margin-top:-23px;
}

.page-template-about .entry-header{
    min-height:800px;

}

.page-template-about .entry-title{
    text-align: center;
    line-height:800px;
    color:white;
    font-size:3em;
    text-transform: uppercase;
    margin: 0px;
}

.page-template-about .entry-content{
    max-width: 800px;
    margin: 3rem auto;
}

.page-template-about .entry-content h2 {
    text-align: center;
    line-height:1.25;
}
